{% load static %}

<!DOCTYPE html>

<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
     
    <title>Şuski Genel Müdürlüğü | Destek Hizmetleri Daire Başkanlığı | Makina İkmal </title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static './assets/img/favicon/favicon.ico' %}" />

    

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static './assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static './assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static './assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static './assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static './assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <link rel="stylesheet" href="{% static './assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->
    <script src="{% static './assets/vendor/js/Chart.min.js' %}"></script>
    <!-- Helpers -->
    <script src="{% static './assets/vendor/js/helpers.js' %}"></script>
     <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static './assets/js/config.js' %}"></script>
  
    <link rel="stylesheet" href="{% static './assets/vendor/datatables/css/datatables.min.css' %}">
  
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" ><img style="margin-left: 0;" src="{% static './assets/img/elements/logo.png' %}" class="bg-black no-margin" alt="">
            </a>
          </div>

          <div class="menu-inner-shadow"></div>
          {% with  request.resolver_match.url_name as url_name  %}
          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item  {% if url_name == 'home' %}active {% endif %}">
              <a href="{% url 'home' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Anasayfa</div>
              </a>
            </li>
            <li class="menu-item {% if url_name == 'users_home' or url_name == 'register' %}active open {% endif %}" style>
              <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Authentications">Kullanıcı İşlemleri</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if url_name == 'users_home' %}active {% endif %}">
                  <a href="{% url 'users_home' %}" class="menu-link" >
                    <div data-i18n="Basic">Kullanıcı Listesi</div>
                  </a>
                </li>
                <li class="menu-item {% if url_name == 'register' %}active {% endif %}">
                  <a href="{% url 'register' %}" class="menu-link" >
                    <div data-i18n="Basic">Yeni Kullanıcı</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item {% if url_name == 'cars_home' or url_name == 'register_new_car' %}active open {% endif %}">
              <a href="#2" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-car"></i>
                <div data-i18n="Basic">Araç İşlemleri </div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if url_name == 'cars_home' %}active {% endif %}">
                  <a href="{% url 'cars_home' %}" class="menu-link" >
                    <div data-i18n="Basic">Araç Listesi</div>
                  </a>
                </li>
                <li class="menu-item {% if url_name == 'register_new_car' %}active {% endif %}">
                  <a href="{% url 'register_new_car' %}" class="menu-link" >
                    <div data-i18n="Basic">Yeni Araç</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item {% if url_name == 'fuels_home' or url_name == 'refueling' %}active open {% endif %}" style>
              <a href="#3" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-gas-pump"></i>
                <div data-i18n="Misc">Yakıt İşlemleri </div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if url_name == 'fuels_home' %}active {% endif %}">
                  <a href="{% url 'fuels_home' %}" class="menu-link">
                    <div data-i18n="Error">Alınan Yakıtlar</div>
                  </a>
                </li>
                <li class="menu-item {% if url_name == 'refueling' %}active {% endif %}">
                  <a href="{% url 'refueling' %}" class="menu-link">
                    <div data-i18n="Under Maintenance">Yeni Yakıt Al</div>
                  </a>
                </li>
              </ul>
            </li>
            
              <li class="menu-item {% if url_name in 'general_report' or url_name == 'plate_report' or url_name == 'car_about_report' or url_name == 'lt_km_report' %}active open {% endif %}">
                <a href="#4" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bxs-report"></i>
                  <div data-i18n="Form Elements">Raporlama</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item {% if url_name == 'general_report'  %}active {% endif %}">
                    <a href="{% url 'general_report' %}" class="menu-link">
                      <div data-i18n="Basic Inputs">Genel Raporlama</div>
                    </a>
                  </li>
                  <li class="menu-item {% if url_name == 'car_about_report'  %}active {% endif %}">
                    <a href="{% url 'car_about_report' %}" class="menu-link">
                      <div data-i18n="Input groups">Araç Bilgileri Raporlama</div>
                    </a>
                  </li>
                  <li class="menu-item {% if url_name == 'lt_km_report'  %}active {% endif %}">
                    <a href="{% url 'lt_km_report' %}" class="menu-link">
                      <div data-i18n="Input groups">Km/Lt Raporlama</div>
                    </a>
                  </li>
                  <li class="menu-item {% if url_name == 'plate_report'  %}active {% endif %}">
                    <a href="{% url 'plate_report' %}" class="menu-link">
                      <div data-i18n="Input groups">Plaka Raporlama</div>
                    </a>
                  </li>
                </ul>
              </li>
            
          </ul>
          {% endwith %}
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
         <!-- Navbar -->

         <nav
           class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
           id="layout-navbar"
         >
           <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
             <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
               <i class="bx bx-menu bx-sm"></i>
             </a>
           </div>

           <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
             <!-- Search -->
             <div class="navbar-nav align-items-center">
               <div class="nav-item d-flex align-items-center">
                 <i class="bx bx-search fs-4 lh-0"></i>
                 <input
                   type="text"
                   class="form-control border-0 shadow-none"
                   placeholder="Search..."
                   aria-label="Search..."
                 />
               </div>
             </div>
             <!-- /Search -->

             <ul class="navbar-nav flex-row align-items-center ms-auto">
               
               <!-- User -->
               <li class="nav-item navbar-dropdown dropdown-user dropdown">
                 <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                   <div class="avatar avatar-online">
                     <img src="{% static './assets/img/avatars/5.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                   </div>
                 </a>
                 <ul class="dropdown-menu dropdown-menu-end " data-bs-popper="none">
                   <li>
                     <a class="dropdown-item" href="#">
                       <div class="d-flex">
                         <div class="flex-shrink-0 me-3">
                           <div class="avatar avatar-online">
                             <img src="{% static './assets/img/avatars/5.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                           </div>
                         </div>
                         <div class="flex-grow-1">
                           <span class="fw-semibold d-block">{{ request.user.get_full_name }}</span>
                           <small class="text-muted">Admin</small>
                         </div>
                       </div>
                     </a>
                   </li>
                   <li>
                     <div class="dropdown-divider"></div>
                   </li>
                   <li>
                     <a class="dropdown-item" href="{% url 'register_edit' request.user.id %}">
                       <i class="bx bx-user me-2"></i>
                       <span class="align-middle">Profilim</span>
                     </a>
                   </li>
                   <!-- <li>
                     <a class="dropdown-item" href="#">
                       <i class="bx bx-cog me-2"></i>
                       <span class="align-middle">Settings</span>
                     </a>
                   </li> -->
                   <li>
                     <a class="dropdown-item" href="#">
                       <span class="d-flex align-items-center align-middle">
                         <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                         <span class="flex-grow-1 align-middle">Bildirimler</span>
                         <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">0</span>
                       </span>
                     </a>
                   </li>
                   <li>
                     <div class="dropdown-divider"></div>
                   </li>
                   <li>
                     <a class="dropdown-item" href="{% url 'logout' %}" >
                       <i class="bx bx-power-off me-2"></i>
                       <span class="align-middle">Oturumu Kapat</span>
                     </a>
                   </li>
                 </ul>
               </li>
               <!--/ User -->
             </ul>
           </div>
         </nav>

         <!-- / Navbar -->